:root{
--footer-color-header-color: rgba(47, 48,58,);
--background-color: rgba(245,244,250);
--background-color-section2: rgba(255, 255, 255);
--webstudio-web-color: rgba(33,150,243);
--comentary-color: rgba(75,75,75);
--h6--color: rgba(21,21,21);
}
